body {
    margin: 0;
    padding: 0;
    background: var(--background);
}
#root {
    height: 100vh;
}

.container {
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

.background-dark {
    background-color: #111;
}
.background-light {
    background-color: #fff;
}

picture {
    margin: auto;
    position: relative;
}

.logo {
    perspective-origin: left bottom;
    transform: perspective(300px) rotateX(20deg) rotateY(-5deg) rotateZ(15deg);
    position: absolute;
    left: 21.7%;
    top: 48.5%;
    width: 3%;
    height: 6%;
}

.cases {
    position: absolute;
    z-index: 9999;

    top: 58%;
    left: 17.65%;
    perspective-origin: left top;
    transform: perspective(500px) rotateX(-10deg) rotateY(-15deg) rotate(6.5deg);
    /* transform: rotate(10deg);  */
    width: 8.5%;
    height: 4%;

    perspective-origin: left top;
}

.casesText {
    text-size-adjust: none;
    font-size: 2em;
    font-family: "Arial Narrow Bold", sans-serif;
    min-width: 50px;
}

.casesIcon {
    height: 32px;
    width: 32px;
    margin-right: 5px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
}
.centerChildren {
    display: flex;
    justify-content: center;
    align-items: center;
}
.chameleon {
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    animation-name: chameleon;
}

@keyframes chameleon {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}
